In [50]:
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

/Users/mgbvox/anaconda3/lib/python3.7/site-packages/IPython/core/magics/pylab.py:160: UserWarning: pylab import has clobbered these variables: ['number']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [51]:
day_i = ["Bob: 1200", "Alice: 2500", "Celia: 110"]

In [52]:
df = pd.DataFrame.from_dict(dict([i.split(': ') for i in day_i]), orient='index')
df = df.reset_index()
df.columns = ['Customer', 'Total Purchase']
df['Total Purchase'] = df['Total Purchase'].apply(int)
df

  Customer  Total Purchase
0      Bob            1200
1    Alice            2500
2    Celia             110

In [54]:
np.array([i.split(': ') for i in day_i])

array([['Bob', '1200'],
       ['Alice', '2500'],
       ['Celia', '110']], dtype='<U5')

In [13]:
"""Matt's Solution for Question 3: (Use your own, it's cooler.)"""

g_meta_hist = []
for i in range(100):
    #Create random range and secret number within range:
    ns = sorted(np.random.randint(0,10000,20))
    low = ns[0]
    high = ns[-1]
    number = np.random.randint(low, high)
    print(low, high, number)

    #Binary search for guess:
    guess_history = []
    guess = int(np.mean([low,high]))
    guesses = 1
    while guess != number:
        if guess < number:
            low = guess
            guess = int(np.mean([low,high]))
        if guess > number:
            high = guess
            guess = int(np.mean([low,high]))
        guesses += 1
        guess_history.append(guess)
        #print(guesses, '|', guess)
    #plt.plot(guess_history)
    g_meta_hist.append(len(guess_history))

61 9732 7014
305 9882 7801
27 9448 3942
139 9499 6635
1409 9661 2643
388 9407 6080
27 9629 3448
22 9969 1772
28 9756 2859
1151 9803 2942
376 9463 6373
276 9592 8230
1554 9864 7825
761 7794 7147
489 9570 684
157 9319 8589
131 9550 8352
89 9900 5863
480 9882 8089
545 9109 8433
290 9203 7819
1021 9806 3909
147 9993 2946
580 9683 2831
325 8719 1495
529 9877 724
578 9697 6302
124 9063 8722
675 9341 8214
321 9841 5369
168 9716 6859
645 9568 4537
147 9097 7932
614 9975 2629
526 9795 3221
794 9239 9111
1805 9134 8699
1387 9955 2857
153 9884 3840
299 8756 6602
1652 9322 4185
771 9713 5716
11 9387 6307
236 9555 7619
879 9916 8545
365 9735 8522
217 9961 2165
140 9739 1568
653 9938 9187
190 9449 2232
90 9409 1343
509 9136 5168
239 9764 3757
1000 9976 1497
68 9483 3937
100 9733 8949
908 9888 2541
287 9788 1169
193 9849 4583
837 9855 6228
5 9694 1242
749 9963 7810
682 9669 2350
722 9820 1902
364 9601 8896
110 9346 4206
276 9978 467
270 9210 7559
385 9715 8680
500 9925 6387
12 9676 5308
729 8948 7907
232 9756 9057
194 9158 1606
1439 9545 8919
1391 9906 7227
224 9635 4415
328 9971 1262
1051 9775 4318
639 9304 5638
224 9983 6510
335 8468 3555
346 9174 7048
759 9613 9156
85 9989 8532
1344 9631 7681
168 9637 6450
100 8369 6848
324 9363 4642
13 9243 7576
1341 8453 7464
234 9979 3825
455 9580 6283
117 9446 6768
420 9989 4123
463 8795 7220
621 8721 4490
1133 9562 3428
1882 9920 7473
279 9646 2625

In [14]:
np.mean(g_meta_hist)

8.58

In [27]:
"""Question 2:"""

#Examples (this cell)
day_i = ["Bob: 1200", "Alice: 2500", "Celia: 110"]

[x**2 for x in range(5)]

s1 = day_i[0]

s1.split(': ')

In [44]:
#Implementation:
day_i = ["Bob: 1200", "Alice: 2500", "Celia: 110", "Matt: 5"]

d = dict([s.split(': ') for s in day_i])

#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.from_dict.html
df = pd.DataFrame.from_dict(d, orient='index')
df = df.reset_index()
df.columns = ['Customer', 'Total Purchase']
df

  Customer Total Purchase
0      Bob           1200
1    Alice           2500
2    Celia            110
3     Matt              5

In [47]:
#Example of default from_dict behavior:
pd.DataFrame.from_dict({'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']})

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d